name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo content
        uses: actions/checkout@v2

      - name: Generate Snake Animation
        uses: Platane/snk@v3
        with:
          github_user_name: onyedika-glitch
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg

      - name: Upload Snake Animation to repo
        run: |
          mkdir -p output
          mv dist/* output/
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add .
          git commit -m "Generate snake animation"
          git push

